.Landing {
    text-align: center;
}

.Link {
    border-radius: 5px;
    color: #ffb300;
    font-family:'Village';
    font-size:3em;
    justify-content:center;
    margin: auto;
    padding:20px;
    text-decoration: none;
    text-shadow: 2.5px 2.5px 2px #b71c1c;
    width: 100%;
}

.Link:hover {
    color: #b71c1c;
    text-shadow: 5px 5px 2px whitesmoke;
}